@import url("header.css");
@import url("content.css");
@import url("footer.css");

.container{
    height: 100vh;
    background-color: #334464;
    
    color: #ddd7ce;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto auto auto auto;
    
    grid-template-areas: 
    "hdr hdr hdr hdr"
    "cntnt cntnt cntnt cntnt"
    "ftr ftr ftr ftr";

    margin: 0px 0px;

}

.blog-name{
    color:rgb(233, 180, 6); 
    font-size: 2em;
}