.fa{
    font-size: 1.2rem;
}

.fa-facebook:hover{ 
    color: #1877f2;
}    
    
.fa-linkedin-square:hover{
    color: #0a66c2;
}

.fa-google-plus:hover{
    color: #db4437; 
}

.fa-github:hover{
    color: #4078c0;
}

.fa-twitter:hover{
    color: #1da1f2;
}

.fa-telegram:hover{
    color: #0088cc;
}

.fa-whatsapp:hover{
    color: #25d366;
}