.fa-facebook{ 
    color: #1877F2;
}    
    
.fa-linkedin-square, .fa-linkedin{
    color: rgb(7, 98, 200);
}

.fa-google-plus{
    color: #db4a39; 
}

.fa-github{
    color: #4078c0;
}

.fa-twitter{
    color: #1DA1F2;
}

.fa-telegram{
    color: #0088cc;
}

.fa-whatsapp{
    color: 	#075E54;
}